:root {
  --main-bg-color: #e8e8e1;
}

@font-face {
  font-family: "ivar";
  src: url(./IvarDisplayCondensed-Light.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ivar", serif;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: #191919;
}

html,
body {
  width: 100%;
  background-color: var(--main-bg-color);
  overscroll-behavior: none;
}

.menu-tog {
  position: fixed;
  top: 3%;
  right: 2%;
  width: 25px;
  height: 6px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  z-index: 3;
  mix-blend-mode: difference;
}

.menu-tog span {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: 0.5s;
  transform-origin: center;
}

.menu-tog.active span:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

.menu-tog.active span:nth-child(2) {
  position: absolute;
  transform: rotate(-45deg);
}

.header {
  position: fixed;
  top: 2%;
  left: 2%;
  width: 96%;
  z-index: 2;
  mix-blend-mode: difference;
  color: #ffffff;
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0px;
}

.info-text {
  font-size: 15px;
  line-height: 20px;
}

.wrap {
  position: relative;
  display: block;
  line-height: auto;
  overflow: hidden;
  transition: 0.5s;
  will-change: transform;
}

.wrap h1,
.wrap .img {
  transform: translateY(100%);
  transition: 0.5s;
  will-change: transform;
}

.wrap.active h1,
.wrap.active .img {
  transform: translateY(0);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg-color);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.menu.active {
  pointer-events: all;
  opacity: 1;
}

.links {
  position: absolute;
  bottom: 2%;
  left: 2%;
  height: 200px;
}

.links ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-wrap {
  position: relative;
  overflow: hidden;
}

.menu-wrap a {
  display: block;
  font-size: 40px;
  transform: translateY(100%);
  transition: 0.5s;
}

.menu-wrap.active a {
  transform: translateY(0);
}

.menu-wrap span {
  font-size: 12px;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.scrollable {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  will-change: transform;
}

.content {
  position: relative;
  width: 100%;
}

section {
  position: relative;
  height: 50vh;
  /* border: 1px solid black; */
}

.img-1 {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 40%;
  height: 90%;
}

.proj-info-1 {
  position: absolute;
  left: 44%;
  bottom: 5%;
  text-align: left;
}

.img-2 {
  position: absolute;
  top: 20%;
  right: 2%;
  width: 30%;
  height: 70%;
}

.proj-info-2 {
  position: absolute;
  right: 34%;
  bottom: 10%;
  text-align: right;
}

.img-3 {
  position: absolute;
  top: 10%;
  right: 2%;
  width: 20%;
  height: 80%;
}

.proj-info-3 {
  position: absolute;
  right: 24%;
  bottom: 10%;
  text-align: right;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: grayscale(20%) sepia(20%);
}
